.app {
  display: flex;
  justify-content: center;
  display: inline;
  height: 100vh;
}

.map {
  height: 100%;
  width: 100%;
  border: 2px solid #95ddb4;
}

.marker {
  background-image: url("https://i.imgur.com/oz3r3Wq.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px darkslategray;
}

/* map.css */
.marker-delivery {
  position: relative;
}

.marker-delivery i.fa-heart {
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 20px;
  color: #cc5058;
  opacity: 0; /* Set initial opacity to 0 to hide the heart icon */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect for opacity */
}

.marker-delivery:hover i.fa-heart {
  opacity: 1; /* Set the opacity to 1 when hovering over the place */
}

/* ! */
.marker-delivery {
  background-image: url("https://i.imgur.com/cIooqnp.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}
